@page
@model LoginModel

<div class="login-page">
	<span class="login-page__title">Вход</span>
	<span class="login-page__after-title">Войдите в аккаунт, чтобы начать игру</span>
	<form method="post" asp-route-returnUrl="@Model.ReturnUrl">
		<div class="field light-font">
			<input asp-for="Input.Email" class="form-control" />
			<label asp-for="Input.Email"></label>
			<span asp-validation-for="Input.Email" class="text-danger"></span>
		</div>
		<div class="field light-font">
			<input asp-for="Input.Password" class="form-control" />
			<label asp-for="Input.Password"></label>
			<span asp-validation-for="Input.Password" class="text-danger"></span>
		</div>
		<div class="form-group light-font">
			<div class="login-page__remember-me checkbox">
				<label asp-for="Input.RememberMe">
					<input asp-for="Input.RememberMe" />
					@Html.DisplayNameFor(m => m.Input.RememberMe)
				</label>
			</div>
			<a class="login-page__forgot-password" asp-page="./ForgotPassword">Забыли пароль?</a>
		</div>
		<div class="medium-font">
			<button type="submit" class="login-page__login-button">Начать игру</button>
		</div>
		<div class="text-danger">
			<div asp-validation-summary="ModelOnly"></div>
		</div>
	</form>
	<div class="login-page__register-button light-font">
		<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Зарегистрироваться</a>
	</div>
	<div class="login-page__or-label light-font">Или</div>
	<div class="login-page__social-buttons light-font">
		@{
			if ((Model.ExternalLogins?.Count ?? 0) != 0)
			{
				<form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
					@foreach (var provider in Model.ExternalLogins)
					{
						<button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-@provider.Name.ToLower()"></i> @provider.DisplayName</button>
					}
				</form>
			}
		}
	</div>
</div>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
